<%- include('partials/_header') -%>
<%- include('partials/_nav') -%>

<div class="container">
    <hr>
    <a class="btn btn-success" href="/askquestion">Faça uma pergunta</a>
    <hr>
    <% questions.forEach( qs => { %>

        <div class="card mt-4 p-4 shadow rounded">
            <div class="card-header">
                <h3><a href="/viewquestion/<%= qs.id %>"><%= qs.title %></a></h3>
                <span><i><%= momentRt(qs.updatedAt) %></i></span>
            </div>
            <div class="card-body">
                <%- subStringRt(qs.description) %>
            </div>
            <div class="card-footer">
                <a href="/viewquestion/<%= qs.id %>"><button class="btn btn-primary">Responder</button></a>
            </div>
        </div>

    <% }); %>
</div>

<%- include('partials/_footer') -%>