<%- include('partials/_header') -%>
<%- include('partials/_nav') -%>

<div class="container">
    <hr>
    <a class="btn btn-success" href="/askquestion">Faça uma pergunta</a>
    <hr>

    <div class="card mt-4 p-4 shadow rounded">
        <div class="card-header">
            <h3><%= question.title %></h3>
            <span><i><%= momentRt(question.updatedAt) %></i></span>
        </div>
        <div class="card-body">
            <p><%= question.description %></p>
            <hr>
            <p><i>Nenhuma resposta...</i></p>
        </div>
        <div class="card-footer">
            <form action="#" method="post">
                <input type="hidden" name="identify" value="<%= question.id %>">
                <textarea class="form-control" id="editor" name="answer" placeholder="Digite sua resposta..."></textarea>
                <button type="submit" class="btn btn-primary mt-2">Publique sua resposta</button>
            </form>
        </div>
    </div>
</div>

<%- include('partials/_footer') -%>